<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <h1>Todo List</h1>
    <form action="/addtask" method="POST">
        <input type="text" name="content" required>
        <button type="submit">Add Task</button>
    </form>
    <ul class="todo-list">
        <% todoTasks.forEach(details => { %>
            <li class="todo-list-item">
                <div class="todo-list-item-name"><%= details.content %></div>
                <a href="/edit/<%= details._id %>" class="edit">
                    <span class="fas fa-edit"></span>
                </a>
                <a href="/remove/<%= details._id %>" class="remove">
                    <span class="fas fa-times"></span>
                </a>
            </li>
        <% }) %>
    </ul>
</body>
</html>
